:root {
    --main-color: #ff9494;
    --sub-color: #ffe3e1;
    --sub2-color: #fff5e4;
    --gray-color: #e1e1e1;
    --gray2-color: #6c6c6c;
    --white-color: #ffffff;
    --black-color: #000000;
    --modal-color: rgba(108, 108, 108, 0.8);
    --red-color: #ff4f4f;
    --movie-color: #b094ff;
    --theater-color: #76aacd;
    --musical-color: #efae6d;
    --concert-color: #ff9494;
    --other-color: #c4c4c4;
}
