:root {
    --main-color : #FF9494;
    --sub-color : #FFE3E1;
    --sub2-color : #FFF5E4;
    --gray-color : #E1E1E1;
    --gray2-color : #6C6C6C;
    --white-color : #FFFFFF;
    --black-color : #000000;
}